.pomodoro-container {
    text-align: center;
    margin-top: 10px;
    border: 2px solid #470288; 
    padding-block: 10px;
    padding-inline: 20px; 
     width: 300px;
     height: 200px;
     display: flex; /* Use flexbox */
     justify-content: center; /* Center items horizontally */
     align-items: center; /* Center items vertically */
  }
  
  .timer {
    font-size: 3em;
    color: #470288;
    margin:0 auto;
    display: block;
    
  }
  
  .control-button {
    margin: 0 10px;
    padding: 10px;
    font-size: 1em;
    background-color: #3481a5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .control-button:hover{
    background-color:#265c7d; /*Darkens the background color when hovered*/
  }
  
 