<nav>

   <!-- Logo -->
   <img src="assets/logo1.png" alt="Logo" class="navbar-logo">

  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/pomodoro">Pomodoro</a></li>
    <li><a routerLink="/notice-board">Notice Board</a></li>
    <li><a routerLink="/timetable">Group Timetable</a></li>
    <li><a routerLink="/about-us">About Us</a></li>
    
  </ul>

   <!-- Logout Button -->
   <div class="login-logout">
    <li><a (click)="logout()">Logout</a></li>
    
  </div>

</nav>
