/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

/* Wrapper styles */
.wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

/* Section styles */
.section {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
}

/* Heading styles */
h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

/* Input and button styles */
input[type="text"],
input[type="date"],
input[type="time"],
button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

/* List container styles */
.list-container {
  max-height: 200px;
  overflow-y: auto;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Button styles */
button {
  font-weight: bold;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.edit-button { background-color: #ffc107; color: black; } /* Edit button color */
.delete-button { background-color: #dc3545; } /* Delete button color */
.complete-button { background-color: #28a745; } /* Complete button color */
.pomodoro-button { background-color: #007bff; } /* Pomodoro button color */

button:hover {
  filter: brightness(90%);
}

/* Media query for responsive layout */
@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Additional styles for buttons */
.button-container {
  display: flex;
  justify-content: start;
  gap: 10px; 
}


