/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}


.section {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
}

h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

input[type="text"],
input[type="date"],
input[type="time"],
button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}


.list-container {
  max-height: 200px;
  overflow-y: auto;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}


button {
  font-weight: bold;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.edit-button { background-color: #ffc107; color: black; }
.delete-button { background-color: #dc3545; }
.complete-button { background-color: #28a745; }
.pomodoro-button { background-color: #007bff; }

button:hover {
  filter: brightness(90%);
}


@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.button-container {
  display: flex;
  justify-content: start;
  gap: 10px; 
}

/* Assumed existing classes based on your HTML structure */

/* Logo class */
.h3-noticeboard{
  font-size: 50px;
}
