<div class="login-container">
  <div class="login-content">


    <!--Username-->
    <mat-form-field> <!-- https://v7.material.angular.io/components/form-field/overview -->
        <mat-label>Username</mat-label>
        <input matInput type="text">  <!-- matInput include error messages, hitn text etc.-->
    </mat-form-field>

     <!--Password-->
     <mat-form-field> 
      <mat-label>Password</mat-label> <!--Type password not text-->
      <input matInput type="password">
  </mat-form-field>


  </div>
</div>