<div class="registration-container">
  <div class="registration-content">

     <!-- Logo -->
     <!-- <img src= "src/assets/logo1.png" alt="StudyEasy Logo" class="logo"> -->
    
    <p class="Title-welcome">Welcome To StudyEasy! </p>
    <p class="Title-login">Register Here!</p>
    
    <!-- Email -->
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input [formControl]="emailControl" matInput type="email">
      <mat-error *ngIf="emailControl.hasError('required')">Email is required</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input [formControl]="passwordControl" matInput type="password">
      <mat-error *ngIf="passwordControl.hasError('required')">Password is required</mat-error>
    </mat-form-field>

    <!-- Register Button -->
    <button mat-raised-button color="primary" (click)="register()">Register</button>

    <!-- Error Message -->
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

  </div>
</div>
