.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the start (top) */
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 5px; /* Add a small margin top */
  padding-top: 10px; /* Add padding to create space under the navbar */
}

.notice-board-container,
.notices-section {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 20px;
  max-width: 800px;
  width: 100%;
}

.header {
  padding: 10px 20px;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
}

.form-section {
  padding: 20px;
}

.notices-section {
  padding: 20px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

input[type="text"],
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #555;
}

.notice {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  flex: 1;
  min-width: calc(33.333% - 10px);
  max-width: calc(33.333% - 10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.notice:last-child {
  border-bottom: none;
}

.notice h3 {
  margin-top: 0;
  color: #333;
  font-size: 18px;
}

.notice p {
  color: #555;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.tag-important {
  @extend .tag-base;
  background-color: #ff6347;
}

.tag-urgent {
  @extend .tag-base;
  background-color: #ffd700;
  color: #000000;
}

.tag-general {
  @extend .tag-base;
  background-color: #20b2aa;
}

.tag-announcement {
  @extend .tag-base;
  background-color: #4169e1;
}

.tag-base {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 8px;
  
  font-size: 14px;
  color: #ffffff;
}

.delete-button {
  background-color: #ac2109;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #4d1313;
}
