<app-navbar></app-navbar>
<div class="container">
  <h3 class="h3-noticeboard">Notice Board</h3>
<div class="notice-board-container">  <!-- Container for the notice board -->
  
  <!-- This section is for adding a new notice -->
  <div class ="header">
  <h2>Add a Notice- Keep Yourself Informed!</h2>
  </div>

   <!-- Section for displaying existing notices -->
<div class="notices-section">
  <h2>Notices</h2>
  <ul>
     <!-- Loop through each notice and display its title and message -->
     <li *ngFor="let notice of filteredNotices">
      <h3>{{ notice.title }}</h3>
      <p>{{ notice.message }}</p>
      <p>
        <span *ngFor="let tag of notice.tags" [class]="'tag-' + tag.toLowerCase()">{{ tag }}</span>
      </p>
      <!-- Delete button to delete a notice -->
      <button *ngIf="notice.id" class="delete-button" (click)="deleteNotice(notice.id)">Delete</button>
    </li> 
  </ul>
</div>

<!-- Section for the filter selection -->
<div class="filter-section">
  <label>Filter by Tag:</label>
  <select [(ngModel)]="selectedFilterTag" (change)="applyFilter()">
    <option value="">All Tags</option>
    <option *ngFor="let tag of predefinedTags" [value]="tag">{{ tag }}</option>
  </select>
  <button (click)="resetFilter()">Reset Filter</button>
</div>

  <!-- Form for adding a new notice -->
 <div class="form section">
  <input type="text" [(ngModel)]="newNotice.title" placeholder="Title" /> <!-- Input field for entering the title of the notice -->
  <textarea [(ngModel)]="newNotice.message" placeholder="Message"></textarea>
  <select [(ngModel)]="selectedTag">
    <option value="">Select Tag</option>
        <option *ngFor="let tag of predefinedTags" [value]="tag">{{ tag }}</option>
  </select>
  <button (click)="addNotice()">Add Notice</button> <!-- Button to submit the new notice -->
  </div>
</div>






</div>
