.container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the start */
  width: 100%;
  overflow-y: auto;
  
  padding-top: 10px; /* Add padding to create space under the navbar */


}

.logo {
  display: block; // Ensureing the image is a block-level element
  margin: 0 auto 20px; // Centers the image and adds space below
  width: 100px; 
  height: auto; 
}

.notice-board-container,
.notices-section {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 20px;
  max-width: 800px;
  width: 100%;
}

.header {
  padding: 10px 20px;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
}

.form-section {
  padding: 20px;
}

.notices-section {
  padding: 20px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

input[type="text"],
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
}

button {
  background-color: #333;
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  
}

button:hover {
  background-color: #555;
}

.notice {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border: 1px solid #131212; 
  border-radius: 5px;
  flex: 1;
  min-width: calc(33.333% - 12px);
  max-width: calc(33.333% - 12px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.notice:last-child {
  border-bottom: none;
}

.notice h3 {
  margin-top: 0;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.notice p {
  color: #555;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.tag-important {
  @extend .tag-base;
  background-color: rgba(255, 99, 71, 0.5);
  border-radius: 5px;
}

.tag-urgent {
  @extend .tag-base;
  background-color: rgba(255, 215, 0, 0.5);
  color: #000000;
  border-radius: 5px;
}

.tag-general {
  @extend .tag-base;
  background-color: rgba(32, 178, 170, 0.5);
  border-radius: 5px;
}

.tag-announcement {
  @extend .tag-base;
  background-color: rgba(65, 105, 225, 0.5);
  border-radius: 5px;
}

.tag-base {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 8px;
  
  font-size: 14px;
  color: #ffffff;
}

.delete-button {
  background-color: #ac2109;
  color: white;
  padding: 3px 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.delete-button:hover {
  background-color: #4d1313;
}

.h3-noticeboard{
  font-size: 50px;
}