<app-navbar></app-navbar><!-- navbar -->

<div class="wrapper">
  <div class="section">
    <img src="assets/logo2.png" alt="StudyEasy Logo" class="logo"><!-- logo -->
    <h3>Welcome to Study Easy</h3> <!-- title -->
    <p>
      <!-- Introduction to Study Easy -->
      the comprehensive web application designed to streamline your study and exam preparation process. At Study Easy, we understand that managing your educational commitments can be overwhelming. That’s why we offer a suite of tools to organize and enhance your study efforts.
    </p>
    <h4>Features include:</h4>
    <ul>
      <li>
        <strong>Upcoming Exams:</strong> 
        <!-- Description of upcoming exams feature -->
        Keep track of all your <a href="https://fictional-adventure-xq4jpqvrjp7h9xgq-4200.app.github.dev/home"> upcoming tests and exams </a>with ease. Add exams, edit details as they change, and mark them as complete once you’ve aced them!
      </li>
      <li>
        <strong>Study Sessions:</strong> 
        <!-- Description of study sessions feature -->
        Plan your <a href="https://fictional-adventure-xq4jpqvrjp7h9xgq-4200.app.github.dev/home">study sessions</a> by adding them to your calendar. You can edit or delete sessions, and even mark them as completed. This helps you keep track of what's been covered and what still needs attention.
      </li>
      <li>
        <strong>Milestones:</strong> 
        <!-- Description of milestones feature -->
        Set your goals and achieve them with our <a href="https://fictional-adventure-xq4jpqvrjp7h9xgq-4200.app.github.dev/pomodoro"> milestones system</a>.
      </li>
      <li>
        <strong>Completed Sessions and Exams:</strong> 
        <!-- Description of completed sessions and exams feature -->
        Easily view your accomplishments with a list of <a href="https://fictional-adventure-xq4jpqvrjp7h9xgq-4200.app.github.dev/home">completed study sessions and exams</a>, helping you track your progress and evaluate your preparation strategies.
      </li>
    </ul>
    <p>
      <!-- Conclusion to Study Easy introduction -->
      Study Easy is designed to be intuitive and user-friendly, ensuring that you spend less time organizing and more time learning. Whether you’re a secondary school student or a college student, our tool adapts to your needs, offering a personalized approach to mastering your courses and excelling in your exams.
    </p>
    <p>
      <!-- Call to action -->
      Start optimizing your study habits with Study Easy today and take control of your academic success!
    </p>
  </div>
</div>
